<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <style>
        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
<body>
<div class="navbar">
    <a href="{% url 'index' %}">Главная</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}">Личный кабинет</a>
    <a href="{% url 'logout' %}?next=/">Выйти</a>
    {% else %}
    <a href="{% url 'login' %}">Войти</a>
    <a href="{% url 'register' %}">Зарегистрироваться</a>
    {% endif %}
</div>


<h1>Добро пожаловать на Design.pro!</h1>
<p>Мы - дизайн-студия, специализирующаяся на создании уникальных и инновационных дизайнов.</p>
<p>Количество заявок, находящихся в статусе «Принято в работу»: {{ in_progress_count }}</p>
<h2> Заявки</h2>
<form method="get">
    <select name="status">
        <option value="all">Все</option>
        <option value="NEW">Новая</option>
        <option value="IN_PROGRESS">Принято в работу</option>
        <option value="COMPLETED">Выполнено</option>
    </select>
    <input type="submit" value="Фильтровать">
</form>
<ul>
    {% for request in completed_requests %}
    <li>
        <h3>{{ request.title }}</h3>
        <img src="{{ request.photo.url }}" alt="{{ request.title }}" width="300px" height="250px">
        <p>Описание: {{ request.description }}</p>
        <p>Время добавления: {{ request.created_at }}</p>
        <p>Статус: {{ request.get_status_display }}</p>
    </li>
    {% empty %}
    <li>Нет выполненных заявок.</li>
    {% endfor %}
</ul>

</body>
</html>
